.someStyle{

}

.order__heading{
    border-bottom: 5px solid green;
}
.all__info{
    background-color: lightgreen;
    color : #444 ;
    padding : 2% ;
}

.key__value{
    border : 1px solid gray ;
    margin : 5px 0; 
    padding : 7px 20px ;
}
.key__name{
    margin-right: 10px ;
    font-weight: bold;
}
.value{
    margin-left: 10px ;
}