img{
    width : 100% ;
    display: block;
}

.profile__main{
    text-align : center ;
    display: flex;
    justify-content: center;
}



.profile__box {
    padding : 13% 10% ;
    border-radius: 30px ;
    box-shadow: rgba(113, 8, 145, 0.25) 0px 30px 60px -12px inset, rgba(12, 73, 204, 0.3) 0px 18px 36px -18px inset;
}

.profile__box h2{
    text-transform: uppercase;
    color: #444 ;
}

.profile__box h3 small{
    color: #666 ;
    margin: 10px 0 ;
    display: block;
    letter-spacing: 1px ;
}

.profile__box h3{
    color: darkblue;
}

.profile__img{
    width : 200px   ;
    margin: 10px auto 0 ;
    display: flex;
    justify-content: center;
    border-radius: 10px ;
}

.profile__img img{
    width : 100%  ;
    border-radius: 8px 25px 8px 25px ;
}