

.color__main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3 ;
    padding : 50px 0 ;
    color: #333 ;
    border-radius: 0px 0px 10px 10px ;
}

.color__main h1{
    font-size: 40px ;
}
