.main__doc{
    width : 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__doc h3{
    color: #333 ;
    font-size: 27px ;
    text-transform: uppercase;
    margin-top: 20px;
    background-color: #e5e5e5 ;
    padding : 5px 34px ;
    border-radius: 4px ;
}

.main__doc h5{
    color: #e3e3e3  ;
    font-size: 22px ;
    text-transform: capitalize;
    background-color: dodgerblue;
    margin: 20px 0 ;
    padding: 4px 40px ;
    border-radius: 30px ;
}

.steps{
    margin-top: 20px;
    font-size: 18px ;
    background-color: #f2f2f2 ;
    padding : 30px ;
    color : #444  ;
}

.steps ol li::marker{
    color: indigo ;
}
.steps ol li{
    background-color: orange;
    margin: 10px 0 ;
    padding: 4px 20px ;
    position: relative;
    text-transform: capitalize;
}