.form__full{
    text-align: center;
    /* border: 1px solid blue ; */
    width : 40% ;
    margin : 30px auto ;
}

.form__full h3{
    text-transform: uppercase;
    margin-bottom: 20px ;
    color : #333 ;
}

.form__full input{
    border-style: none ;
    background-color: #f1f1f1 ;
    width : 100% ;
    padding : 10px 20px ;
    margin-top: 15px;
}

.signIn__buttons{
    margin-top: 20px;
    cursor: pointer;
    
}

.signIn__button{
    background-color: orange;
    color: #222 ;
    border-style: none;
    padding: 5px 27px ;
    border-radius: 3px ;
    cursor: pointer;
    text-transform: uppercase;
}
.signGoogle{
    background-color: firebrick ;
    color: floralwhite;
    border-style: none ;
    padding : 5px 27px ;
    margin-left: 15px;
    border-radius: 3px ;
    cursor: pointer;
    text-transform: uppercase;
}

.to__register_login{
    margin-top: 20px;
    color : indigo ; 
    text-transform: capitalize;
}

@media only screen and (max-width: 480px) {
    .container{
        padding : 0 5px ;
    }
    .form__full{
        width : 85% ;
    }
    .signGoogle{
        margin-top: 10px ;
    }
}
@media (min-width : 481px) and (max-width: 768px) {
    .container{
        padding : 0 15px ;
    }
    .form__full{
        width : 65% ;
    }
}
@media (min-width : 769px) and (max-width: 1024px) {
    .container{
        padding : 0 20px ;
    }
}
@media (min-width : 1025px) and (max-width: 1200px) {
    .container{
        padding : 0 25px ;
    }
}