
.builder__item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding : 20px 0;
}

.item__name{
    width : 30% ;
}

.item__amount{
    width : 15% ;
}

.item__controller{
    width : 15% ;
    display: flex;
    justify-content: space-evenly;
}
.item_controller_button{
    border : 1px solid #555 ;
    padding : 20px 5px ;
    border-radius: 30px ;
    margin : 0px 4px ;
    width : 20px ;
    text-align: center;
    cursor: pointer;
    font-size: 15px ;
    font-weight: bold;
}