.full__page{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box ;
}

.left__side{
    width : 50% ;
    padding : 40px ;
}
.right__side{
    width : 50% ;
    padding : 20px ;
}

@media only screen and (max-width: 480px) {
    .container{
        padding : 0 5px ;
    }
    .full__page{
        flex-direction: column;
    }
    .left__side{
        box-sizing: border-box;
        width : 100% ;
        margin : 0 auto ;
    }
    .right__side{
        width : 100% ;
        margin : 0 auto ;
    }
}
